{% extends "base.html" %}

{% block content %}
<body>
    <div class="content">
        <div class="main-content">
            <h1>About BOXSquid</h1>
            <p>
                BOXSquid is a platform dedicated to providing users with powerful data collection tools and a vast array of regularly updated datasets. Our mission is to make data exploration effortless and accessible to everyone, allowing users to gain valuable insights across multiple platforms with just a click.
            </p>
            <img src="{{url_for('static', filename='Rectangle12.png')}}" alt="Illustration" class="header-image" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti. Donec ut sagittis dui. Fusce non est eu risus tincidunt maximus. Integer commodo, nisl ut posuere blandit, urna lacus cursus urna, eu eleifend dolor quam sit amet nibh.
            </p>
        </div>
    </div>
</body>
{% endblock %}