{% extends "base.html" %}

{% block content %}
<body>
    <div class="content">
        <div class="main-content">
            <h1>Profile Harvester</h1>
            <p>
                Gather data on a single usernames activity across the internet.
            </p>
            <form action="/profile-harvester" method="post">
                <label for="keyword">Enter Username:</label>
                <input type="text" id="keyword" name="keyword" placeholder="No #" required>
    
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}    