{% extends "base.html" %}

{% block content %}
<body>
    <div class="content">
        <div class="header-content">
            <h1>Collect The Data You Need</h1>
            <div class="header-content-inner">
                <p>
                    Effortlessly explore our data collection tools and weekly updated datasets.
                </p>
            </div>
            <img src="{{url_for('static', filename='Rectangle12.png')}}" alt="Illustration" class="header-image" />
        </div>

        <div class="main-content">
            <h1>
                Gain Insight Across Multiple Platforms In One Click
            </h1>
            <p>
                Lorem Ipsum
            </p>
            <button class="cta-btn" ><a href="#">Create A Free Account</a></button>
        </div>
    </div>
</body>
{% endblock %}
